.devise-links
  - if controller_name != 'sessions'
    = link_to "Log in", new_session_path(resource_name)
    %br/
  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to "Forgot your password?", new_password_path(resource_name)
    %br/
