%nav.navbar.is-fixed-top{"aria-label": "main navigation", role: "navigation"}
  .navbar-brand
    = link_to root_path, class: 'navbar-item' do
      LessonSuite
    %a.navbar-burger.burger{"aria-expanded" => "false", "aria-label" => "menu", "data-target" => "navbarBasicExample", :role => "button"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
      %span{"aria-hidden" => "true"}
  #navbarBasicExample.navbar-menu
    .navbar-start
      = link_to 'Create Lesson', '#', class: 'navbar-item'
      .navbar-item.has-dropdown.is-hoverable
        %a.navbar-link
          More
        .navbar-dropdown
          %hr.navbar-divider/
          %a.navbar-item
            Report an issue
    .navbar-end
      .navbar-item.has-dropdown.is-hoverable
        %a.navbar-link
          Account
        .navbar-dropdown.is-right
          - if current_user
            = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'navbar-item'
          - else
            = link_to 'Log in', new_user_session_path, class: 'navbar-item'
