%h2 Log in
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .form-inputs
    :ruby
    = f.input :email,
      required: false,
      autofocus: true,
      input_html: { autocomplete: "email" }
    = f.input :password,
      required: false,
      input_html: { autocomplete: "current-password" }
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, "Log in"
= render "devise/shared/links"
