// Devise Form
.devise-form {
  margin-top: 5rem;
  label, input, a {
    font-size: 14px;
    line-height: 1;
  }
}

// Checkbox
.field {
  margin: 0 0 10px 0;

  input[type='checkbox'] {
    margin: 0 10px 0 0;
  }
}

// Devise Links

.devise-links {
  margin: 10px 0 0 0;
}


textarea {
  min-width: 100%;
  min-height: 150px;
}

.editor {
  min-height: 400px;
}

.course-form {
  margin-top: 40px;
}

.control {
  margin-bottom: 10px;
}

.field.quill, .ql-container, .ql-editor {
  min-height: 300px !important;
  max-height: 500px !important;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
}
