!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LessonSuite
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    %link{'rel':'stylesheet', 'href':"//cdn.quilljs.com/1.2.6/quill.snow.css"}
  %body
    #content= content_for?(:content) ? yield(:content) : yield
    -# = render 'shared/alerts'
