- content_for :content do
  .devise-form
    .columns.is-mobile
      .column.is-4.is-offset-4
        .content
          = content_for?(:devise_content) ? yield(:devise_content) : yield
= render template: "layouts/application"
