- content_for :content do
  .devise-form
    .columns.is-mobile
      .column.is-8.is-offset-2
        .content
          = content_for?(:form_content) ? yield(:form_content) : yield
= render template: "layouts/application"
